
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.pokemon-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.pokemon-image {
    width: 30vw;
    margin: 50px 80px ;
}
.pokemon-description {
    text-transform: capitalize;
    margin: 0 auto;
}