
.poke-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: .5rem;
    text-transform: uppercase;
}
#pokeImg{
    height: 20vw;
    width:  20vw;
}
.pokemon-name {
    margin-top: 10px;
   text-align: center;
}